<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zw.multi_process">

    <application>
        <service
            android:name=".service.MQService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.UploadService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.SaveService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.CollectService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>