<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zw.new_demo1"
    android:versionCode="1"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--WAKE_LOCK-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.New_demo1">
        <activity android:name=".activity1.Demo1Activity"></activity>
        <activity
            android:name=".activity1.ServiceActivity"
            android:exported="true" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"
            android:process="com.xxx.test.service.a" />

        <activity
            android:name=".activity1.RxjavaActivity"
            android:exported="true" />
        <activity android:name=".activity1.RetrofitActivity" />
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.PowerConnectionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>

        </receiver>

        <receiver android:name=".receiver.Launcher3BroadcastReceiver">
            <intent-filter>
                <action android:name="_com.meituan.qcs.meishi.wakeup_" />
            </intent-filter>
        </receiver>
    </application>

</manifest>